<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Home</title>

    <!-- Tailwind CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="bg-gray-100">
 <%- include('../partials/nav') %>
  
    <header class="bg-white shadow-md p-4">
      <h1 class="text-2xl font-bold text-center text-gray-800">
        🏠 Register Your Home
      </h1>
    </header>

    <!-- Form Section -->
    <main class="flex justify-center items-center min-h-screen">
      
     <h1>This is a booking page </h1>

    </main>

  </body>
</html>